* {
    font-family: "Open Sans";
}

header {
    background-image: linear-gradient(#fff8f3de, #FFF8F3);
    height: 837px;

}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
}

.menu-first {
    font-size: 46px;
}

.menu-last {
    display: flex;
    align-items: center;
    gap: 50px;
}

.btn-one:hover {
    color: #FD6E0A;
    transition-duration: 0.3s;
}

.btn-primary {
    color: white;
    cursor: pointer;
    font-weight: 600;
    background-color: #FD6E0A;
    border-radius: 5px;
    font-size: 20px;
    padding: 10px 28px;
    border: 2px solid #FD6E0A;
}

.btn-primary:hover {
    color: #FD6E0A;
    background-color: transparent;
    border: 2px solid #FD6E0A;
    transition-duration: 0.3s;
}

.btn-secondary {
    color: #FD6E0A;
    background-color: transparent;
    border: 2px solid #FD6E0A;
    font-weight: 600;
    border-radius: 5px;
    padding: 10px 28px;
    font-size: 20px;
}

.btn-secondary:hover {
    color: white;
    cursor: pointer;
    background-color: #FD6E0A;
    transition-duration: 0.3s;
}

.header-bg {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-top: -20px;

}

.left-bg {
    background-image: url("/images/developer.png");
    background-repeat: no-repeat;
    height: 795px;
    width: 150px;
}

.right-bg {
    background-image: url("/images/header_bg.png");
    background-repeat: no-repeat;
    text-align: end;
    background-position: right bottom;
    width: 1000px;
}

.about-me {
    margin: auto;
    padding: 120px;
    background-color: #FFF8F3;
    margin-top: 100px;
    width: 1380px;
    text-align: center;
}

.about-p {
    width: 700px;
    margin: auto;
}

.about-f {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

.container {
    display: flex;
    width: 85%;
    margin: auto;
    gap: 20px;
    margin-top: 60px;
    padding-block: 100px;
}

footer {
    background-color: #FFF8F3;
}

.footer-left {
    width: 100%;
}
.footer-right{
    margin-left: 200px;
    margin-right: 100px;
    width: 100%;
}
input, textarea{
    border: none;
    padding: 10px;
    width: 100%;
}
::placeholder{
    color: #1818184e;
    font-size: larger;
}
.d-block{
    display: block;
}
.w-25 {
    width: 600px;
}

.w-85 {
    width: 85%;
    margin: auto;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 30px;
}

.underline-none {
    text-decoration: none;
}

.border-buttom {
    border-bottom: 1px solid #181818;
}

.text-black {
    color: #181818;
}

.text-orange {
    color: #FD6E0A;
}

.text-black-300 {
    color: #18181896;
}

.text-bold {
    font-weight: 700;
}

.text-center {
    text-align: center;
}

.pt-6 {
    padding-top: 24px;
}
.mt-6{
    margin-top: 24px;
}

.text-xl {
    font-size: 26px;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
    top: 400px;
    left: 160px;
}