*{
    font-family: "Open Sans";
}
header{
    background-image: linear-gradient(#fff8f3de, #FFF8F3);
    height: 837px;
    
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
}
.menu-first{
    font-size: 46px;
}
.menu-last{
    display: flex;
    align-items: center;
    gap: 50px;
}
.btn-one:hover{
    color: #FD6E0A;
    transition-duration: 0.3s;
}
.btn-primary{
    color: white;
    cursor: pointer;
    font-weight: 600;
    background-color: #FD6E0A;
    border-radius: 5px;
    padding: 8px 14px;
    border: 2px solid #FD6E0A;
}
.btn-primary:hover{
    color: #FD6E0A;
    background-color: transparent;
    border: 2px solid #FD6E0A;
    transition-duration: 0.3s;
}
.btn-secondary{
    color: #FD6E0A;
    background-color: transparent;
    border: 2px solid #FD6E0A;
    font-weight: 600;
    border-radius: 5px;
    padding: 8px 14px;
}
.btn-secondary:hover{
    color: white;
    cursor: pointer;
    background-color: #FD6E0A;
    transition-duration: 0.3s;
}

.header-bg{
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-top: -20px;
  
}
.left-bg{
    background-image: url("/images/developer.png");
    background-repeat: no-repeat;
    height: 795px;
    width: 150px;
}
.right-bg{
   background-image: url("/images/header_bg.png");
   background-repeat: no-repeat;
   text-align: end;
   background-position: right bottom;
   width: 1000px;
}
.w-25{
 width: 600px;
}

.underline-none {
    text-decoration: none;
}

.text-black {
    color: #181818;
}
.text-orange{
    color: #FD6E0A;
}

.text-bold {
    font-weight: 700;
}
.relative{
    position: relative;
}
.absolute{
    position: absolute;
    top: 400px;
    left: 160px;
}
